/* Estilos para el contenedor principal */
.cardLogin {
  width: 400px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: #E0E9FF; /* Azul más claro */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Efecto de sombra */
  margin-top: 15px;
  margin-bottom: 15px;
}

/* Estilos específicos para el modo estudiante */
.estudiante {
  background-color: #b3f7ff; /* Azul más oscuro */
}

/* Estilos específicos para el modo docente */
.docente {
  background-color: #7effdd; /* Azul aún más oscuro */
}

/* Estilos para los botones */
button {
  padding: 10px 20px;
  margin: 10px 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: #30b0c7; /* Azul más intenso al pasar el cursor */
  color: #fff; /* Texto blanco al pasar el cursor */
}

/* Estilos para el formulario */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 20px;
}

label {
  margin: 10px 0;
}

input {
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilos para la imagen */
.image {
  width: 200px;
  height: 200px;
  margin: 20px 0;
}

/* Animación para el cambio de tipo de usuario */
.cardLogin {
  transition: background-color 0.5s;
}

/* Estilos del interruptor */
.switch-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.switch-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s;
  background-color: #08ed13; /* Azul más oscuro */
  color: #fff;
  border: 2px solid rgb(0, 0, 0); /* Borde azul */
}

.switch-btn.active {
  background-color: #dd640d; /* Azul aún más oscuro */
}

.switch-btn:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.switch-btn:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* Animación del interruptor */
.switch-btn.active {
  transform: scale(1.08);
}

/* Estilos para el formulario de inicio de sesión */
.container {
  padding: 20px;
  text-align: center;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

button[type="submit"] {
  background-color: #08a913; /* Azul */
}

button[type="submit"]:hover {
  background-color: #08d7e2; /* Azul más oscuro al pasar el cursor */
}

p {
  color: rgb(251, 251, 251);
  margin-top: 10px;
}

.btn-info {
  background-color: #4CAF50; /* Verde */
}

.btn-info:hover {
  background-color: #0db115; /* Verde más oscuro al pasar el cursor */
}

.login-container {
  text-align: center;
  margin: 0 auto;
  width: 300px;
  padding: 20px; /* Añade un espacio interno para el sombreado */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombreado */
  background-color: rgba(93, 92, 92, 0.378); /* Fondo blanco para resaltar el componente */
  color: white;
  text-shadow: -1px -1px 0 #000,  
                1px -1px 0 #000,
               -1px 1px 0 #000,
                1px 1px 0 #000; /* Añade el efecto de contorno al texto */
}
.fondo1 {
  background-image: url('../Login/ImgLogin/bg.jpg');
  background-size: cover; /* Para cubrir todo el contenedor */
  background-position: center; /* Centrar la imagen */
 
}

.fondo2 {
  background-image: url('../Login/ImgLogin/Bg2.jpg');
  background-size: cover; /* Para cubrir todo el contenedor */
  background-position: center; /* Centrar la imagen */
}

