/* Estilos básicos para th y td */
th, td {
    padding: 15px;
    text-align: left;
  }
  
  /* Establecer ancho fijo para las celdas */
  td {
    width: 150px; /* Puedes ajustar este valor según tus necesidades */
  }
  
  /* Ocultar bordes entre celdas y columnas */
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  /* Estilos de animación al pasar el ratón sobre las filas */
  tr:hover td {
    background-color: #f2f2f2;
    transition: background-color 0.3s ease-in-out;
  }
  
  
  .pdf_img {
    max-width: 50px;
    max-height: 50px;
  }
  